<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title><%= title %></title>
<link href="static/lib/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="static/lib/js/html5shiv.min.js"></script>
    <script src="static/lib/js/respond.min.js"></script>
<![endif]-->
