<!DOCTYPE html>
<html lang="zh">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <ul>
            <% mails.forEach(function(mail){ %>
                <li><%= mail %></li>
            <% }); %>
        </ul>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
