<!DOCTYPE html>
<html lang="zh">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <%= reply %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
