<!DOCTYPE html>
<html lang="zh">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <ul>
            <% var sum = 0; %>
            <% for(var key in mails){ %>
                <p><%= mails[key].key %><span> = </span><%= mails[key].value %></p>
                <% sum += mails[key].value %>
            <% } %>
            <% console.log(sum); %>
        </ul>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
